.navbar {
  background-color: var(--nav-background-color);
}

.navbar-brand {
  color: var(--text-color);
}

.navbar-link {
  cursor: pointer;
}

.nav-link {
  color: var(--nav-link-color) !important;
}

.badge {
  background-color: red;
  color: white;
  padding: 0.25em 0.5em;
  border-radius: 0.5em;
  font-size: 0.75em;
  vertical-align: top;
  margin-left: 0.5em;
}
