.card {
  margin: 5px;
  padding: 10px;
  /* round-corner */
  border-radius: 10px;
}

.card-content {
  font-size: large;
  padding: 2px;
  margin-top: 1em;
  margin-left: 1em;
}

.card-content .content {
  white-space: pre-wrap;
}

.note-metainfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.note .upload {
  width: 100%;
}

.create-note {
  height: fit-content;
}

.note-actions {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.note-actions button {
  margin-left: 5px;
}

.note-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2px;
  margin: 0.7em;
}

.note-toolbar-item {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 0.5em;
  border: 1px solid black;
  border-radius: 5px;
  padding-left: 0.3em;
  padding-right: 0.3em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}

.note-metainfo {
  margin-bottom: 0.5em;
}

.reply-to-note {
  margin: 1em;
  padding: 1em;
  border: 1px dotted black;
  border-radius: 5px;
}

.replying-post-list {
  margin: 1em;
  padding: 1em;
  border: 1px dotted black;
  border-radius: 5px;
}
