.notification-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.notification-icon {
  margin-right: 10px;
}

.notification-icon img {
  width: 40px;
  height: 40px;
  /* border-radius: 50%; */
}

.notification-content {
  flex: 1;
}

.notification-content p {
  margin: 0;
  font-size: 14px;
}

.notification-content a {
  color: #007bff;
  text-decoration: none;
}

.notification-content a:hover {
  text-decoration: underline;
}

.notification-date {
  display: block;
  margin-top: 5px;
  font-size: 12px;
  color: #888;
}

.mark-as-read {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 5px;
}

.mark-all-read {
  display: block;
  margin: 10px 0;
  /* padding: 10px 20px; */
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.mark-all-read:hover {
  background-color: #0056b3;
}
