.user-profile .avatar {
  margin-right: 0.5em;
}

.user-profile .user-nickname {
  font-weight: bold;
  font-size: larger;
}

.user-profile .user-id {
  color: darkgray;
}

.toolbar {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
  gap: 0.5em;
}

.user-info-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-toolbar {
  display: flex;
  flex-direction: row;
  /* align right */
  justify-content: flex-end;
}
.form-toolbar button {
  margin-left: 0.5em;
}

.user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.3em;
}

.user-stats {
  margin-left: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5em;
}

.user-counter {
  display: grid;
  color: black;
  grid-template-rows: auto auto;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.2em;
}

.user-counter-label {
  grid-row: 1;
  font-weight: bold;
}

.user-counter-value {
  grid-row: 2;
}
