[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
markdown = "*"
mysqlclient = "*"
bcrypt = "*"
django-cors-headers = "*"
uwsgi = "*"
pillow = "*"
whitenoise = "*"
drf-extra-fields = "*"
pyld = "*"
requests = "*"
requests-cache = "*"
pytest-django = "*"
pytest-mock = "*"
jinja2 = "*"
ddrr = "*"

[dev-packages]
mypy = "*"
flake8 = "*"
black = "*"
isort = "*"
gunicorn = "*"
pytest = "*"
pytest-mock = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.1"
