<!DOCTYPE html>
<html>
  <head>
    {% include 'web/common_header.html' %}
  </head>
  <div class="min-h-screen flex items-center justify-center bg-blue-100">
    <div class="bg-white p-6 rounded shadow-md w-80">
      <h2 class="mb-4 text-xl font-bold text-gray-700">Register new user</h2>
      <p class="text-red-500 text-xs italic mb-2">
        {% for error in errors %} <p>{{ error }}</p> {% endfor %}
      </p>
      <form method="POST" action="{% url 'web:register' %}">
        {% csrf_token %} {{form}}
        <input type="submit" value="Register"/>
      </form>
    </div>
  </div>
</html>
