<!DOCTYPE html>
<html>
  <head>
    <title>Lightpub Login</title>
    {{> parts/global}}
  </head>
  <body>
    <div class="d-flex justify-content-center align-items-center vh-100">
      <div class="login" role="main">
        <h1>Lightpub</h1>
        <form
          hx-post="/auth/login"
          hx-swap="none"
          hx-ext="json-enc"
          hx-indicator="#indicator"
          hx-disabled-elt="#submitButton"
          aria-labelledby="loginForm"
        >
          <div class="form-group">
            <label for="username">ユーザー名</label>
            <input
              type="text"
              id="username"
              name="username"
              placeholder="Username"
              required="required"
              aria-required="true"
            />
          </div>
          <div class="form-group">
            <label for="password">パスワード</label>
            <input
              type="password"
              id="password"
              name="password"
              placeholder="Password"
              required="required"
              aria-required="true"
            />
          </div>
          <button
            id="submitButton"
            type="submit"
            class="btn btn-primary btn-block btn-large"
            aria-label="Submit Login Form"
          >
            ログイン
            <img
              id="indicator"
              class="htmx-indicator"
              src="/static/svgloader/svg-loaders/grid.svg"
              style="height: 1em"
            />
          </button>
        </form>
        <a href="/client/register">新規ユーザー登録</a>
      </div>
    </div>
  </body>
</html>
