<!DOCTYPE html>
<html>
  <head>
    <title>Lightpub</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/static/css/note.css" />
    <link rel="stylesheet" href="/static/css/user.css" />
    <link rel="stylesheet" href="/static/css/notification.css" />
    {{> parts/global }}
  </head>

  <body>
    {{> parts/navbar }}
    <div class="layout-root">
      <div class="layout-content">
        <div>
          <button class="mark-all-read" hx-post="/notification/all/read">
            すべて既読にする
          </button>
          <div x-data="pushNotifications">
            <button
              x-show="!subscribed"
              @click="subscribe()"
              class="btn btn-sm btn-primary"
            >
              <i class="fa fa-bell"></i> Enable Notifications
            </button>
            <button
              x-show="subscribed"
              @click="unsubscribe()"
              class="btn btn-sm btn-outline-secondary"
            >
              <i class="fa fa-bell-slash"></i> Disable Notifications
            </button>
          </div>
        </div>
        <ul class="notification-list">
          <div
            hx-get="/notification/all"
            hx-trigger="revealed"
            hx-swap="afterend"
          ></div>
        </ul>
      </div>
    </div>
  </body>
</html>
