<!DOCTYPE html>
<html>
  <head>
    <title>Lightpub Change Password</title>
    {{> parts/global}}
  </head>

  <body>
    <div class="d-flex justify-content-center align-items-center vh-100">
      <div class="login" role="main">
        <h1>Lightpub</h1>
        <form
          hx-post="/auth/changePassword"
          hx-swap="none"
          hx-ext="json-enc"
          method="post"
          aria-labelledby="changePasswordForm"
        >
          <div class="form-group">
            <label for="password">新パスワード</label>
            <input
              type="password"
              id="password"
              name="newPassword"
              placeholder="Password"
              required="required"
              aria-required="true"
              minlength="8"
              maxlength="64"
            />
          </div>
          <button
            type="submit"
            class="btn btn-primary btn-block btn-large"
            aria-label="Change password confirm"
          >
            パスワード変更
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
