<!DOCTYPE html>
<html>
  <head>
    <title>Lightpub</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/static/css/note.css" />
    <link rel="stylesheet" href="/static/css/user.css" />
    {{> parts/global}}
    <meta property="og:url" content="{{og.url}}" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{og.title}}" />
    <meta property="og:description" content="{{og.description}}" />
    <meta property="og:site_name" content="{{og.siteName}}" />
    {{#if og.image}}
    <meta property="og:image" content="{{og.image}}" />
    {{/if}}
  </head>

  <body>
    {{> parts/navbar}}
    <div class="layout-root">
      <aside></aside>
      <main>
        {{#if user}}
        <div class="user-profile card" x-data>
          <h1>ユーザー情報</h1>
          <div class="user-info-line">
            <div class="user-info">
              <img
                src="/user/{{user.basic.id}}/avatar"
                alt="ユーザーアバター"
                width="48"
                height="48"
                class="avatar"
              />
              <span class="user-nickname">{{user.basic.nickname}}</span>
              <span class="user-id">{{user.basic.specifier}}</span>
              <div class="user-stats">
                <div class="user-counter">
                  <span class="user-counter-label">ノート数</span>
                  <span class="user-counter-value">{{user.noteCount}}</span>
                </div>
                <a
                  href="/client/user/{{user.basic.specifier}}/following"
                  class="hidden-link"
                >
                  <div class="user-counter">
                    <span class="user-counter-label">フォロー数</span>
                    <span class="user-counter-value">{{user.followCount}}</span>
                  </div>
                </a>
                <a
                  href="/client/user/{{user.basic.specifier}}/followers"
                  class="hidden-link"
                >
                  <div class="user-counter">
                    <span class="user-counter-label">フォロワー数</span>
                    <span class="user-counter-value"
                      >{{user.followerCount}}</span
                    >
                  </div>
                </a>
              </div>
            </div>
            <div>
              {{#if user.isMe}}
              <a href="/client/user/{{user.basic.specifier}}/edit"
                ><button class="btn btn-secondary">編集</button></a
              >
              {{/if}}
            </div>
          </div>
          <div class="user-interaction-line">
            {{#if user.isFollowed}}
            <p class="user-followed">フォローされています</p>
            {{/if}} {{#if user.isBlocked}}
            <p class="user-blocked">ブロックされています</p>
            {{/if}} {{#if user.isFollowedRequested}}
            <p class="user-followed">フォローリクエストが届いています</p>
            {{/if}}
          </div>
          <div class="toolbar">
            <form
              hx-post="/user/{{user.basic.id}}/interaction"
              hx-ext="json-enc"
            >
              {{#if user.canFollow}}
              <input type="hidden" name="type" value="follow" />
              <button type="submit" class="btn btn-primary">フォロー</button>
              {{/if}} {{#if user.canUnfollow}}
              <input type="hidden" name="type" value="unfollow" />
              <button type="submit" class="btn btn-danger">
                {{#if user.isFollowing}}フォロー解除{{/if}} {{#if
                user.isFollowingRequested}} フォローリクエスト取り消し {{/if}}
              </button>
              {{/if}}
            </form>
            {{#if user.canAcceptFollow}}
            <form
              hx-post="/user/{{user.basic.id}}/interaction"
              hx-ext="json-enc"
            >
              <input type="hidden" name="type" value="acceptFollow" />
              <button type="submit" class="btn btn-primary">
                フォロー承認
              </button>
            </form>
            {{/if}}
            <!-- メニュー -->
            <div class="dropdown">
              <button
                class="btn btn-secondary dropdown-toggle"
                type="button"
                id="dropdownMenuButton"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                詳細
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {{#if authed}}
                <li>
                  {{#if user.canRefuseFollow}}
                  <form
                    hx-post="/user/{{user.basic.id}}/interaction"
                    hx-ext="json-enc"
                  >
                    <input type="hidden" name="type" value="rejectFollow" />
                    <button type="submit" class="dropdown-item">
                      フォロー拒否
                    </button>
                  </form>
                  {{/if}}
                </li>
                {{/if}}

                <li>
                  {{#if authed}}
                  <form
                    hx-post="/user/{{user.basic.id}}/interaction"
                    hx-ext="json-enc"
                  >
                    {{#if user.isBlocking}}
                    <input type="hidden" name="type" value="block" />
                    <button type="submit" class="dropdown-item">
                      ブロック
                    </button>
                    {{else}}
                    <input type="hidden" name="type" value="unblock" />
                    <button type="submit" class="dropdown-item">
                      ブロック解除
                    </button>
                    {{/if}}
                  </form>
                  {{/if}}
                </li>
                {{#if user.viewUrl}}
                <li>
                  <a
                    class="dropdown-item"
                    href="{{user.viewUrl}}"
                    target="_blank"
                    >外部ページで表示</a
                  >
                </li>
                {{/if}}
              </ul>
            </div>
          </div>
          <div>
            <table>
              <tr>
                <td>
                  <p>自己紹介</p>
                </td>
                <td>
                  {{#if user.basic.bio}}
                  <p>{{{user.basic.bio}}}</p>
                  {{else}}
                  <p>
                    <italic>自己紹介がありません</italic>
                  </p>
                  {{/if}}
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div>
          <h2>最新の投稿</h2>
          <div
            hx-get="/user/{{user.basic.id}}/notes"
            hx-trigger="revealed"
            hx-swap="afterend"
            style="height: 1px"
          ></div>
        </div>
        {{else}}
        <p>ユーザーが見つかりません</p>
        {{/if}}
      </main>
      <aside></aside>
    </div>
  </body>
</html>
