<!DOCTYPE html>
<html>
  <head>
    <title>Lightpub</title>
    <link rel="stylesheet" type="text/css" href="/static/css/note.css" />
    {{> parts/global}}
  </head>
  <body>
    {{> parts/navbar}}
    <div class="layout-root" x-data>
      <aside>
        <div class="layout-left-sidebar">
          {{> parts/create_note title='ノート作成' authed=authed}}
        </div>
      </aside>
      <main>
        <h2>タイムライン</h2>
        <div class="timeline layout-content" role="list">
          <div
            hx-get="{{ timelineUrl }}"
            hx-trigger="revealed"
            hx-swap="afterend"
          ></div>
        </div>
      </main>
      <aside>
        <div class="layout-right-sidebar">
          <div class="card trending">
            <h2>トレンド</h2>
            <div
              hx-get="/trends"
              hx-trigger="revealed"
              hx-swap="outerHTML"
            ></div>
          </div>
        </div>
      </aside>
    </div>
  </body>
</html>
