<div class="note-container">
  <div class="card edit-note">
    <h2>ノート編集</h2>
    <form
      hx-patch="/note/{{note.id}}"
      hx-encoding="multipart/form-data"
      hx-target="closest .note-container"
      hx-swap="outerHTML"
    >
      <div class="form-group">
        <textarea name="content" class="form-control" required>
{{note.content.content}}</textarea
        >
      </div>
      <div class="form-group">
        <select
          name="contentType"
          class="form-select"
          value="{{note.content.contentType}}"
          required
        >
          <option value="plain">テキスト</option>
          <option value="md">Markdown</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">更新</button>
      <button
        hx-get="/note/{{note.id}}"
        hx-target="closest .note-container"
        hx-swap="outerHTML"
        class="btn btn-secondary"
      >
        キャンセル
      </button>
    </form>
  </div>
</div>
