<link rel="stylesheet" href="/static/css/navbar.css" />
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Lightpub</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/client/timeline">タイムライン</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/client/timeline?public=true"
            >全投稿ストリーム</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/client/search">検索</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/client/notification"
            >通知
            <span
              class="badge"
              id="notificationBadge"
              hx-get="/notification/unread-count"
              hx-trigger="revealed, every 30s [document.visibilityState=='visible']"
            ></span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/client/my">プロフィール</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link navbar-link"
            aria-role="button"
            tabindex="0"
            hx-post="/auth/logout"
            >ログアウト</a
          >
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item d-flex align-items-center">
          <label class="theme-toggle-switch mb-0">
            <input type="checkbox" id="theme-toggle" />
            <span class="slider">
              <span class="toggle-circle">
                 <i class="fa" id="theme-icon"></i>
              </span>
            </span>
          </label>
        </li>        
        <li class="nav-item">
          <a
            class="nav-link source-link"
            href="https://github.com/lightpub-dev/lightpub"
            target="_blank"
          >
            <i class="fa fa-code"></i> Source
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
