<article
  class="note-container"
  hx-get="/note/{{note.id}}"
  hx-trigger="note-refresh once"
  role="listitem"
  aria-label="ノート"
>
  {{#if note.renoteOfId}}
  <!-- Repost case - replace entire content with reposted content -->
  <div
    hx-get="/note/{{note.renoteOfId}}?renotedBy={{note.author.id}}"
    hx-swap="outerHTML"
    hx-target="closest .note-container"
    hx-trigger="revealed"
    style="height: 1px"
  ></div>
  {{else}}
  <div class="card note">
    <div class="note-metainfo">
      {{#if note.replyToId}}
      <aside aria-label="返信先情報" class="note-reply-to">
        <i aria-label="返信マーク" class="fa fa-reply" aria-hidden="true"></i>
        <a href="/client/note/{{note.replyToId}}" aria-label="返信先ノート">返信先</a>
      </aside>
      {{/if}}
      {{#if renoteInfo}}
      <aside aria-label="リノート情報" class="note-repost-of">
        <i aria-label="リノートマーク" class="fa fa-repeat" aria-hidden="true"></i>
        <p aria-label="リノート者情報" style="display: inline">
          {{renoteInfo.user.nickname}} (<a
            href="/client/user/{{renoteInfo.user.specifier}}"
            >{{renoteInfo.user.specifier}}</a
          >) がリノート
        </p>
      </aside>
      {{/if}}
    </div>
    <header class="card-author line-split">
      <address aria-label="投稿者情報" style="margin-bottom: 0px;">
        <img
          src="/user/{{note.author.id}}/avatar"
          alt="ユーザーアバター"
          width="48"
          height="48"
          class="avatar"
        />
        <span aria-label="ニックネーム" class="author-nickname">{{note.author.nickname}}</span>
        <a href="/client/user/{{note.author.specifier}}">
          <span aria-label="ユーザーネーム" class="author-id"> {{note.author.specifier}} </span>
        </a>
      </address>
      <div class="note-actions">
        {{#if note.isMyNote}}
        <button
          hx-get="/note/{{note.id}}/edit"
          hx-target="closest .note-container"
          hx-swap="outerHTML"
          class="btn btn-secondary"
          aria-label="ノート編集"
        >
          編集
        </button>
        <button
          hx-delete="/note/{{note.id}}"
          class="btn btn-danger"
          hx-confirm="本当に削除しますか？"
          aria-label="ノート削除"
        >
          削除
        </button>
        {{/if}}
      </div>
    </header>
    <div aria-label="投稿内容" class="card-content" role="document">
      <div class="content">{{{ note.content.content }}}</div>
      {{#if note.uploads}}
      <div role="group" aria-label="アップロード画像リスト">
        {{#if note.sensitive}}
          {{#each note.uploads}}
            <a href="{{this}}" target="_blank">
              <figure>
                <span class="sensitive-image-label">センシティブ</span>
                <img src="{{this}}" alt="アップロード画像" class="upload sensitive-image-blur" />
              </figure>
            </a>
          {{/each}}
        {{else}}
          {{#each note.uploads}}
            <a href="{{this}}" target="_blank">
              <figure>
                <img src="{{this}}" alt="アップロード画像" class="upload" />
              </figure>
            </a>
          {{/each}}
        {{/if}}
      </div>
      {{/if}}
    </div>
    <div class="note-toolbar">
      {{#if authed}}
      <button
        class="note-toolbar-item"
        data-bs-toggle="collapse"
        data-bs-target="#noteReplyForm_{{note.id}}"
        aria-label="返信画面を開く"
      >
        <i
          class="fa-solid fa-reply"
          aria-hidden="true"
          title="返信"
          data-note-id="{{note.id}}"
        ></i>
        {{#if note.replyCount}}
        <div class="counter note-reply">{{note.replyCount}}</div>
        {{/if}}
      </button>
      {{/if}}

      {{#if authed}}
      {{#if note.renotable}}
      <button class="note-toolbar-item"
        {{#if note.renoted}}
        hx-delete="/note/{{note.id}}/renote"
        aria-label="リノート解除"
        {{else}}
        hx-post="/note/{{note.id}}/renote"
        aria-label="リノート"
        {{/if}}
        hx-swap="none"
        hx-include="this" hx-ext="json-enc"
      >
        <input type="hidden" name="visibility" value="public" />
        <i class="fa-solid fa-repeat" aria-hidden="true" title="リノート"></i>
        {{#if note.renoted}}
        <i class="fa-regular fa-circle-check" style="color: green"></i>
        {{/if}} {{#if note.renoteCount}}
        <div class="counter note-renote">{{note.renoteCount}}</div>
        {{/if}}
      </button>
    {{/if}}
    {{/if}}

    {{#if authed}}
    <button
      class="note-toolbar-item like-badge"
      {{#if note.liked}}
      hx-delete="/note/{{note.id}}/like"
      aria-label="お気に入り解除"
      {{else}}
      hx-put="/note/{{note.id}}/like"
      aria-label="お気に入り登録"
      {{/if}}
      hx-swap="none"
    >
      <i class="fa-regular fa-star" aria-hidden="true" title="お気に入り"></i>
      {{#if note.likeCount}}
      <div class="counter note-reply">{{note.likeCount}}</div>
      {{/if}}
      {{#if note.liked}}
      <i class="fa-regular fa-circle-check" style="color: green"></i>
      {{/if}}
    </button>
    {{/if}}

    {{#if authed}}
    <button
      class="note-toolbar-item"
      {{#if note.bookmarked}}
      hx-delete="/note/{{note.id}}/bookmark"
      aria-label="ブックマーク解除"
      {{else}}
      hx-put="/note/{{note.id}}/bookmark"
      aria-label="ブックマーク登録"
      {{/if}}
      hx-swap="none"
    >
      <i class="fa-regular fa-bookmark" aria-hidden="true" title="ブックマーク"></i>
      {{#if note.bookmarked}}
      <i class="fa-regular fa-circle-check" style="color: green"></i>
      {{/if}}
    </button>
    {{/if}}

    <button
      class="note-toolbar-item dropdown"
      data-bs-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
      id="dropdownMenuButton"
      aria-label="その他メニュー"
    >
      <i class="fa fa-bars" aria-hidden="true" title="その他メニュー"></i>
    </button>
    <ul class="dropdown-menu">
      {{#if authed}}
      <li>
        <a class="dropdown-item" href="#" onclick="alert('未実装です')">通報</a>
      </li>
      {{/if}}
      <li>
        <a class="dropdown-item" href="/client/note/{{note.id}}/renotes"
          >リノート一覧</a
        >
      </li>
      <li>
        <a class="dropdown-item" href="/client/note/{{note.id}}/likes"
          >お気に入り一覧</a
        >
      </li>
      <li>
        <a class="dropdown-item" href="/client/note/{{note.id}}/mentions"
          >メンション一覧</a
        >
      </li>
      <li>
        <a class="dropdown-item" href="/client/note/{{note.id}}">詳細</a>
      </li>
      {{#if note.view_url}}
      <li>
        <a class="dropdown-item" href="{{note.view_url}}" target="_blank"
          >外部ページで表示</a
        >
      </li>
      {{/if}}
    </ul>
  </div>
  <footer aria-label="ノートのメタデータ" class="card-footer note-metainfo">
    <span aria-label="公開範囲" class="visibility">{{note.visibility}}</span>
    {{#if note.sensitive}}
    <span aria-label="センシティブなコンテンツを含む" class="sensitive">sensitive</span>
    {{/if}}
    <span
      aria-label="投稿時刻"
      class="created-at"
    ><time
      datetime="{{note.createdAt}}"
      x-data
      x-text="new Date('{{note.createdAt}}').toLocaleString()"></time>
    </span>
  </footer>
  <div class="note-reply-form collapse" id="noteReplyForm_{{note.id}}">
    {{> parts/create_note replyToId=note.id title="ノート返信" authed=authed}}
  </div>
  {{/if}}
</article>
