<li class="notification-item">
  <div class="notification-icon">
    {{#if notify.iconUrl}}
    <img src="{{notify.iconUrl}}" alt="icon" />
    {{/if}}
  </div>
  <div class="notification-content">
    {{> notificationBody }}
    <time
      class="notification-date"
      x-data
      datetime="{{notify.createdAt}}"
      x-text="new Date('{{notify.createdAt}}').toLocaleString()"
    ></time>
  </div>
  {{#unless notify.readAt}}
  <div class="button-container">
    <button class="mark-as-read" hx-post="/notification/{{notify.id}}/read">
      既読にする
    </button>
  </div>
  {{/unless}}
</li>
