{{#each data}}
<li class="user-list-item">
  <div class="line-split">
    <div class="user-list-user">
      <img
        src="/user/{{this.user.id}}/avatar"
        alt="Author Avatar"
        width="48"
        height="48"
        class="avatar"
      />
      <span class="nickname">{{this.user.nickname}}</span>
      <a href="/client/user/{{this.user.specifier}}">
        <span class="user-id">{{this.user.specifier}}</span>
      </a>
    </div>
    {{#if this.createdAt}}
    <div>
      追加日:
      <time
        datetime="{{this.createdAt}}"
        x-text="new Date('{{this.createdAt}}').toLocaleString()"
      ></time>
    </div>
    {{/if}}
  </div>
</li>
{{/each}} {{#if nextUrl}}
<div hx-get="{{nextUrl}}" hx-trigger="revealed" hx-swap="afterend"></div>
{{/if}}
