[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
markdown = "*"
mysqlclient = "*"
bcrypt = "*"
django-cors-headers = "*"

[dev-packages]
mypy = "*"
flake8 = "*"
black = "*"
isort = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.1"
